<% if false %>
=== This file is part of Ballot <https://projects.kde.org/projects/websites/ballot-kde-org> ===

   Copyright 2011 Jeff Mitchell <mitchell@kde.org>

   Ballot is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Ballot is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Ballot. If not, see <http://www.gnu.org/licenses/>.
<% end %>

<html>
  <head>
    <title>Ballot Voting System</title>
  </head>
  <body>
    <div id='container'>
      <%= yield %>
    </div>
  </body>
</html>

